$color-white: #fff;
$color-black: #000;
$color-dark-0: #212227;
$color-dark: #282b2f;
$color-gray-0: #4d4e52;
$color-gray: #919191;
$color-wet: #666;
$color-azure: #1fe1ed;
$color-azure-dark: #42b7c8;
$color-blue: #3f729b;
$color-green: #2ebd59;

$font-fira: 'Fira Sans', sans-serif;
$font-lato: 'Lato', sans-serif;

$device-sm: 480px;
$device-md: 768px;
$device-tablet: 992px;
$device-lg: 1024px;
$device-xl: 1280px;
$device-xll: 1440px;
