extends ../layout/layout
include ../blocks/hero/hero
include ../blocks/about/about
include ../blocks/gallery/gallery
include ../blocks/instagram/instagram
include ../blocks/music/music
include ../blocks/platform/platform

block content
	+hero()
	+about()
	+gallery()
	+instagram()
	+music()
	+platform()
